@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:wght@300;500;600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus,
*:active {
  outline: 0;
}

ul {
  list-style-position: inside;
  list-style: none;
}

strong {
  font-weight: 700;
}

img,
iframe {
  max-width: 100%;
}

iframe {
  aspect-ratio: auto 16/9;
  width: 100%;
  height: 100%;
}

:root {
  --maxContent: 60rem;
  --tys-xs: .85rem;
  --tys-s: 1rem;
  --tys-m: 1.25rem;
  --tys-l: 1.563rem;
  --tys-xl: 1.953rem;
  --tys-xxl: 2.441rem;
  --tys-h1: 2.941rem;
}

:root {
  --lightest: #ffffff;
  --lightest-a: 255, 255, 255;
  --light: #F9F6EF;
  --light-a: 249, 246, 239;
  --pale: #F2EBD1;
  --pale-a: 242, 235, 209;
  --dark: #B25A2A;
  --dark-a: 178, 90, 42;
  --accent: #80c46a;
  --accent-a: 128, 196, 106;
  --darker: #AC3F21;
  --darker-a: 172, 63, 33;
  --gray: #55543D;
  --gray-a: 85, 84, 61;
  --darkgray: #727070;
  --darkgray-a: 114, 112, 112;
}

html {
  font-size: 100%;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 47.99em) {
  html {
    font-size: 85%;
  }
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 125%;
  }
}

body {
  background-color: #F9F6EF;
  display: grid;
  display: grid;
  grid-template-rows: auto min-content min-content;
  min-height: 100vh;
}

header,
main,
footer,
.characters {
  display: grid;
  grid-template-columns: minmax(clamp(0.5rem, 1vw, 1.5rem), 1fr) [cont-start] minmax(clamp(0em, 1vw, 1.5rem), var(--maxContent)) [cont-end] minmax(clamp(0.5rem, 1vw, 1.5rem), 1fr);
}
header > *,
main > *,
footer > *,
.characters > * {
  grid-column: cont-start/cont-end;
}

header {
  grid-template-rows: 1fr;
  grid-row-start: 1;
  background: #AC3F21;
  color: #ffffff;
  min-height: 10rem;
}
header h1 {
  line-height: 1;
  margin-top: 1.5rem;
}
header h4 {
  color: #F2EBD1;
}
header > * {
  position: relative;
  grid-row: 1/-1;
  z-index: 1;
}

article:not(:first-of-type) {
  margin: 1.5rem 0;
}
article h2 {
  color: #AC3F21;
  font-family: "Kalam", cursive;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
article p img {
  float: right;
  border-radius: 50%;
  max-width: 15vw;
}
article p {
  margin-bottom: 1rem;
}

.cover {
  background: #252525;
  display: grid;
  grid-template-rows: [header-start] auto [header-end cover-start] 18.75rem [bottom-start] min-content [bottom-end cover-end];
  overflow: hidden;
}

.header-cover {
  grid-column: 1/-1;
  grid-row-start: cover-start;
  z-index: 1;
}

.header-top {
  grid-column: 1/-1;
  grid-row: 1/span 1;
  mix-blend-mode: multiply;
  object-position: 50% 80%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 11.25rem;
  z-index: 0;
}

.bottom-cover {
  align-self: flex-end;
  grid-column: 1/-1;
  grid-row: bottom-start;
  z-index: 1;
}

.top-left {
  align-self: flex-start;
  justify-self: flex-start;
  grid-column: 1/-1;
  z-index: 1;
}

.bottom-right {
  align-self: flex-end;
  justify-self: flex-end;
  grid-column: 1/-1;
  z-index: 1;
}

.header-video {
  grid-row: cover-start/cover-end;
  grid-column: 1/-1;
  max-height: 80vh;
  max-width: 77.5rem;
  justify-self: center;
  z-index: 0;
}

main {
  grid-column: 1/-1;
  background: url("../../images/texture.jpg") no-repeat;
  mix-blend-mode: darken;
}
main > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

footer {
  background-color: #F2EBD1;
}

h2, h3, h4, h5, h6, p, strong, a, li {
  font-family: "Nunito", sans-serif;
}

h1,
.h1 {
  font-size: var(--tys-h1);
  font-family: "Kalam", cursive;
  font-weight: 700;
}

h2,
.h2 {
  font-size: var(--tys-xl);
  font-weight: 600;
}

h3,
.h3 {
  font-size: var(--tys-l);
  font-weight: 500;
}

h4,
.h4 {
  font-size: var(--tys-m);
  font-weight: normal;
}

p,
h5,
.h5 {
  font-size: var(--tys-m);
  font-weight: 300;
}

a {
  color: #F9F6EF;
  transition: color 0.3s ease-out;
  position: relative;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: rgba(var(--accent-a), 0.5);
}
a:focus::after, a:active::after {
  content: "";
  border-bottom: 1pt dotted #80c46a;
}

nav {
  display: flex;
  padding: 0.5rem 0;
}

h1 {
  text-transform: uppercase;
}

ul {
  display: inline-flex;
  gap: 1.5rem;
  margin-left: auto;
}
ul li {
  flex: 1 max-content;
  font-size: var(--tys-s);
}

.characters {
  color: #ffffff;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-column: 1/-1;
  background: radial-gradient(51.62% 150.17% at 48.38% 43.68%, #D6B765 0%, #D6B765 71.24%, rgba(214, 187, 101, 0.63) 100%);
}
.characters h2 {
  color: currentColor;
}
.characters > div {
  padding: 3rem 0;
}
.characters .characters--wrapper {
  display: grid;
  grid-column: cont-start/-1;
  grid-template-columns: 1fr 400px;
}
.characters .characters--wrapper .characters-image {
  overflow: hidden;
}
.characters .characters--wrapper .characters-image img {
  transform: translateX(30%);
}
.characters dl dd {
  display: none;
}
.characters dl .active {
  display: block;
}
.characters dl .active + dd {
  display: block;
}

/*# sourceMappingURL=style.css.map */
