@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&font-display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus,
*:active{
  outline: 0;
}

ul{
  list-style-position: inside;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, li{
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}
h1,
.h1{
  font-size: 2.441rem;
  font-weight: 600;
}
h2,
.h2{
  font-size: 1.953rem;
  font-weight: 600;
}
h3,
.h3{
  font-size: 1.563rem;
  font-weight: 600;
}
h4,
.h4,
.h4{
  font-size: 1.25rem;
}

body{
  background: white;
  color: #505050;
  display: grid;
  place-content: center;
  min-height: 100vh;
  > * {
    justify-self: center;
  }
  a{
    color: #80c46a;
  }

}