@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;

.features{
  display: flex;
  flex-flow: row wrap;
  ul{
    display: flex;
    flex-flow: row wrap;
    gap: $component-space;
    padding-left: $component-space-small;
  }
  li{
    flex: 1 100%;
    list-style-type: circle;
    p{
      padding-right: $component-space-tiny;
    }
    @media only screen and (min-width: 48em) {
      flex: 1 33%;
    }
  }
}