@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
.menu{
  display: none;
  @media only screen and (max-width: 48em) {
    display: flex;
  }
}
nav{
  padding: $component-space-tiny 0;
  display: flex;
  @media only screen and (max-width: 48em) {
    display: none;
  }
}
h1{
  text-transform: uppercase;
}
ul{
  display: flex;
  flex-flow: row wrap;
  gap: $component-space-tiny;
  @media only screen and (min-width: 48em){
    gap: $component-space;
    margin-left: auto;
  }
  li{
    flex: 0 1 30%;
    font-size: var(--tys-xs);
    @media only screen and (min-width: 48em){
      font-size: var(--tys-s);
      flex: 1 max-content;
    }
  }
  a{
    color: $pale;
  }
}