@use 'colors' as *;
@use 'variables' as *;
@use 'functions' as *;


html{
  font-size: 100%;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  @media only screen and (max-width: 47.99em){
    font-size: 85%;
  }
  @media only screen and (min-width: 90em){
    font-size: 125%;
  }  
}

body{
  background-color: $light;
  display: grid;
  display: grid;
  grid-template-rows: auto min-content min-content;
  min-height: 100vh;
}
header,
main,
footer{
  display: grid;
  grid-template-columns: minmax(clamp($component-space-tiny, 1vw, $component-space), 1fr)  [cont-start] minmax(clamp(0em, 1vw, $component-space), var(--maxContent)) [cont-end] minmax(clamp($component-space-tiny, 1vw, $component-space), 1fr) ;
  >*{
    grid-column: cont-start / cont-end;
  }
}
header{
  background: $darker;
  color: $lightest;
  min-height: rel(160px);
}
.cover{
  background: $darkergray;
  display: grid;
  grid-template-rows: [header-start] auto [header-end cover-start] rel(300px) [bottom-start] min-content [bottom-end cover-end];
  overflow: hidden;
}
.header-cover{
  grid-column: 1/-1;
  grid-row-start: cover-start; 
  z-index: 1;
}
.bottom-cover{
  align-self: flex-end;
  grid-column: 1/-1;
  grid-row: bottom-start; 
  z-index: 1;
}
.header-video{
  grid-row: cover-start / cover-end;
  grid-column: 1/-1;
  max-height: 80vh;
  max-width: rel(1240px);
  justify-self: center;
  z-index: 0;
}

main{
  grid-column: 1/-1;
  > div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
  }
}
footer{
  background-color: $pale;
}