@use 'colors' as *;
@use 'variables' as *;
@use 'functions' as *;


html{
  font-size: 100%;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  @media only screen and (max-width: 47.99em){
    font-size: 85%;
  }
  @media only screen and (min-width: 90em){
    font-size: 125%;
  }  
}

body{
  background-color: $light;
  display: grid;
  display: grid;
  grid-template-rows: auto min-content min-content;
  min-height: 100vh;
}
header,
main,
footer,
.characters{
  display: grid;
  grid-template-columns: minmax(clamp($component-space-tiny, 1vw, $component-space), 1fr)  [cont-start] minmax(clamp(0em, 1vw, $component-space), var(--maxContent)) [cont-end] minmax(clamp($component-space-tiny, 1vw, $component-space), 1fr) ;
  >*{
    grid-column: cont-start / cont-end;
  }
}
header{
  grid-template-rows: 1fr;
  grid-row-start: 1; 
  background: $darker;
  color: $lightest;
  min-height: rel(160px);
  h1{
    line-height: 1;
    margin-top: $component-space;
  }
  h4{
    color: $pale;
  }
  > *{
    position: relative;
    grid-row: 1/-1;
    z-index: 1;
  }
}
article{
  &:not(:first-of-type){
    margin: $component-space 0;
  }
  h2{
    color: $darker;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    margin-bottom: $component-space;
  }
  p img{
    float: right;
    border-radius: 50%;
    max-width: 15vw;
  }
  p{
    margin-bottom: $component-space-small;
  }
}
.cover{
  background: $darkergray;
  display: grid;
  grid-template-rows: [header-start] auto [header-end cover-start] rel(300px) [bottom-start] min-content [bottom-end cover-end];
  overflow: hidden;
}
.header-cover{
  grid-column: 1/-1;
  grid-row-start: cover-start; 
  z-index: 1;
}
.header-top{
  grid-column: 1/-1;
  grid-row: 1/span 1;
  mix-blend-mode: multiply;
  object-position: 50% 80%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: rel(180px);
  z-index: 0;
}
.bottom-cover{
  align-self: flex-end;
  grid-column: 1/-1;
  grid-row: bottom-start; 
  z-index: 1;
}
.top-left{
  align-self: flex-start;
  justify-self: flex-start;
  grid-column: 1/-1;
  z-index: 1;
}
.bottom-right{
  align-self: flex-end;
  justify-self: flex-end;
  grid-column: 1/-1;
  z-index: 1;
}
.header-video{
  grid-row: cover-start / cover-end;
  grid-column: 1/-1;
  max-height: 80vh;
  max-width: rel(1240px);
  justify-self: center;
  z-index: 0;
}

main{
  grid-column: 1/-1;
  background: url('../../images/texture.jpg') no-repeat;
  mix-blend-mode: darken;
  > div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
  }
}
footer{
  background-color: $pale;
}