@use 'colors' as *;
@use 'variables' as *;


html{
  font-size: 100%;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  @media only screen and (max-width: 47.99em){
    font-size: 85%;
  }
  @media only screen and (min-width: 90em){
    font-size: 125%;
  }  
}

body{
  background-color: $light;
  display: grid;
  min-height: 100vh;
}
header,
main,
footer{
  display: grid;
  grid-template-columns: minmax(clamp($component-space-tiny, 1vw, $component-space), 1fr)  [cont-start] minmax(clamp(0em, 1vw, $component-space), var(--maxContent)) [cont-end] minmax(clamp($component-space-tiny, 1vw, $component-space), 1fr) ;
  >*{
    grid-column: cont-start / cont-end;
  }
}
header{
  background-color: $dark;
}
main{
  background-color: $darkgray;
}
footer{
  background-color: $pale;
}