@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:wght@300;500;600&display=swap');

h2, h3, h4, h5, h6, p, strong, a, li{
  font-family: 'Nunito', sans-serif;
}
h1,
.h1{
  font-size: var(--tys-h1);
  font-family: 'Kalam', cursive;
  font-weight: 700;
}
h2,
.h2{
  font-size: var(--tys-xl);
  font-weight: 600;
}
h3,
.h3{
  font-size: var(--tys-l);
  font-weight: 500;
}
h4,
.h4{
  font-size: var(--tys-m);
  font-weight: normal;
}

p,
h5,
.h5{
  font-size: var(--tys-m);
  font-weight: 300;
}
a{
  color: $light;
  transition: color .3s ease-out;
  position: relative;
  font-weight: normal;
  text-decoration: none;
  &:hover{
    color: rgba(var(--accent-a), .5);
  }
  &:focus::after,
  &:active::after{
    content: '';
    border-bottom: 1pt dotted $accent;
  }
}

