$component-space: 1.5rem;
$component-space-small: 1rem;
$component-space-tiny: .5rem;
:root{
  --maxContent: 60rem;
  --tys-xs: .85rem;
  --tys-s: 1rem;
  --tys-m: 1.25rem;
  --tys-l: 1.563rem;
  --tys-xl: 1.953rem;
  --tys-xxl: 2.441rem;
  --tys-h1: 2.941rem;
}

